*{
    padding: 0%;
    margin: 0%;
}
body {font-family: Arial, Helvetica, sans-serif;}
main{
    margin: 0px 40px ;
    display: flex;
    background-color: antiquewhite;
    min-height: 87vh;
    padding: 10px 10px;
}
.nav{
    background-color: rgb(41, 39, 39);
    color: aliceblue;
   padding: 20px; 
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(7, 1, 1);
    color: white;
    text-align: center;
  }
 

  .search-left{
left: 40px;
  }

  .a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
  }
  .a:hover{
    color: cornflowerblue;
  }
 #Main-id{
   display: flex;
   flex-wrap: wrap;
 }
  .AllCard1{

  margin-left: 5px;
  margin-top: 5px;
  
  }
  .card{
    margin-left: 15px;
    margin-top: 5px;
   
  }